// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Grid
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Variables
// -----------------------------------------------------------------------------

$grid--columns: [tag-start] rem($tagWidth) [tag-end] 1fr [player-window];
$grid--rows: (100 / $rows) * 1vh;

// -----------------------------------------------------------------------------
// -- Grid
// -----------------------------------------------------------------------------

.grid {
  display: grid;

  grid-auto-rows: $grid--rows;
  grid-gap: 0;
  grid-template-columns: $grid--columns;
}
