// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Grid
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Variables
// -----------------------------------------------------------------------------

$grid--columns: [tag-start] rem($tagWidth) [tag-end] 1fr [player-window];

// -----------------------------------------------------------------------------
// -- Grid
// -----------------------------------------------------------------------------

.grid {
  display: grid;
  grid-template-columns: $grid--columns;
  grid-auto-rows: (100 / 8.5) * 1vh; // Show 8 1/2 Volumes in one screen)
  grid-gap: 0;
}
