// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Variables
//  - Album
//  - Download
//  - Tracklist
//  - Track
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Variables
// -----------------------------------------------------------------------------

$albumPadding: $grid--rows;
$singleColumnMaxWidth: 500px;

// -----------------------------------------------------------------------------
// -- Album
// -----------------------------------------------------------------------------

.album {
  position: sticky;
  top: 0;
  bottom: 0;
  align-self: center;
  padding: $albumPadding / 4;
  padding-bottom: $albumPadding / 2;

  @include mq(3) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: rem(1100px);
    padding: $albumPadding / 2;
    padding-right: 0;
  }
}

.album__jacket {
  @include mq(2, down) {
    max-width: $singleColumnMaxWidth;
    margin: 0 auto;
  }
  @include mq(2, up) {
    padding: ($albumPadding / 2) 0 0;
  }
  @include mq(3) {
    position: sticky;
    top: 0;
    flex-basis: 40%;
    padding: $albumPadding / 2;
    padding-right: 0;
  }
}

.album__cover {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, .5);
}

.album__tracklist {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: tracklisting;

  @include mq(2, down) {
    max-width: $singleColumnMaxWidth;
    margin-top: $albumPadding / 4;
    margin-bottom: $albumPadding / 4;
  }
  @include mq(3) {
    flex: 1;
    flex-basis: 60%;
    padding: $albumPadding / 2;
  }
}

// -----------------------------------------------------------------------------
// -- Track
// -----------------------------------------------------------------------------

.track {
  font-size: .8em;
  position: relative;
  padding: .25em;
  padding-left: 2em;
  counter-increment: tracklisting;

  &::before {
    font-weight: 900;
    position: absolute;
    right: calc(100% - #{rem(24)});
    content: counter(tracklisting);
    color: var(--accentColor, var(--baseFontColor));
  }

  a {
    color: var(--accentColor, var(--baseFontColor));
  }

  &:hover,
  &.track--selected {
    background: rgba(255, 255, 255, .15);
  }

  &:hover {
    cursor: pointer;
  }
}

.track__info {
  display: none;

  p {
    margin: .25em 0 0;
  }

  .track--selected & {
    display: block;
  }
}

// -----------------------------------------------------------------------------
// -- Download
// -----------------------------------------------------------------------------

.download {
  font-weight: 900;
  line-height: 1;
  display: block;
  margin-top: 2em;
  text-decoration: none;
  color: var(--baseFontColor);
  border: 3px solid var(--baseFontColor);
  background: var(--bgColor);
}

.download__content {
  position: relative;
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  mix-blend-mode: screen;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    content: '';
    transition: var(--duration) right var(--ease-in-out);
    background: var(--baseFontColor);
  }

  &:hover::before {
    right: 0;
  }
}

.download__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}
