// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Variables
//  - Album
//  - Tracklist
//  - Track
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Variables
// -----------------------------------------------------------------------------

$albumPadding: $grid--rows;

// -----------------------------------------------------------------------------
// -- Album
// -----------------------------------------------------------------------------

.album {
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  align-self: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding: $albumPadding / 2;
  padding-right: 0;
}

.album__jacket {
  position: sticky;
  top: 0;
  flex: 1;
  flex-basis: 30vw;
  padding: $albumPadding / 2;
  padding-right: 0;
}

.album__cover {
  border-radius: 4px;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, .5);
}

.album__tracklist {
  flex: 999;
  min-width: 50%;
  margin: 0;
  padding: $albumPadding / 2;
  list-style: none;
  counter-reset: tracklisting;
}

// -----------------------------------------------------------------------------
// -- Tracklist
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Track
// -----------------------------------------------------------------------------

.track {
  font-size: .8em;
  position: relative;
  padding: .25em;
  padding-left: 2em;
  counter-increment: tracklisting;

  &::before {
    font-weight: 900;
    position: absolute;
    right: calc(100% - #{rem(24)});
    content: counter(tracklisting);
    color: var(--accentColor, var(--baseFontColor));
  }

  a {
    color: var(--accentColor, var(--baseFontColor));
  }

  &:hover,
  &.track--selected {
    background: rgba(255, 255, 255, .15);
  }

  &:hover {
    cursor: pointer;
  }
}

.track__info {
  display: none;

  p {
    margin: .25em 0 0;
  }

  .track--selected & {
    display: block;
  }
}
