// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Artwork
//  - Title
//  - Description
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Artwork
// -----------------------------------------------------------------------------

.billboard {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

// -----------------------------------------------------------------------------
// -- Title
// -----------------------------------------------------------------------------

.billboard__title {
  font-family: var(--font--deco);
  font-size: 14vw;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 10px 30px rgba(0,0,0,.3);

  .billboard--missing & {
    font-size: 10vw;
    font-weight: 700;

    @include mq(2) {
      font-size: 9vw;
    }
    @include mq(1) {
      font-size: 8vw;
    }
  }

  * {
    line-height: 1;
    display: inline-block;
  }
}

.billboard__title--under {
  font-size: 1.078838174em;
  transform: translateX(.215em);
}

.billboard__title--the {
  font-size: .37em;
  transform: rotate(90deg) translateX(-104%) translateY(-.675em);
  transform-origin: left bottom;
}

.billboard__title--covers {
  transform: translateY(-.4em);
}

// -----------------------------------------------------------------------------
// -- Description
// -----------------------------------------------------------------------------

.billboard__description {
  line-height: 1.2;
  margin: 0;
  padding: 0 2em;

  @include mq(1) {
    font-size: .75em;
  }

  .billboard--missing & {
    font-size: 1.5em;
    margin-top: 1em;

    @include mq(1) {
      font-size: 1em;
    }
  }
}

.billboard__count {
  font-family: var(--font--deco);
  font-size: 2.4em;
  font-weight: normal;
  line-height: 0;

  @include mq(2) {
    font-size: 2em;
  }
  @include mq(1) {
    font-size: 1.8em;
  }

  &:after {
    font-size: .5em;
    line-height: 0;
    content: ' ';
  }
}
