// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Close Button
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Close Button
// -----------------------------------------------------------------------------

.close {
  font-size: 2em;
  font-weight: 900;
  line-height: 0;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 10px;
  display: block;
  transition: transform var(--duration) var(--ease-in-out);
  text-decoration: none;
  color: var(--baseFontColor);

  @include mq(1) {
    font-size: 1.25em;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}
