// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Window
//  - Volumes
//  - Player
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Window
// -----------------------------------------------------------------------------

#jukebox {
  background: var(--baseBgColor);
  color: var(--baseFontColor);
  display: grid;
  grid-template-columns: $grid--columns;
}

// -----------------------------------------------------------------------------
// -- Volumes
// -----------------------------------------------------------------------------

.jukebox__volumes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: tag-start / player-window;
  grid-row: 1;
  z-index: 1;
}

.jukebox__volume {
  grid-column: tag-start / player-window;
}

// -----------------------------------------------------------------------------
// -- Player
// -----------------------------------------------------------------------------

.jukebox__player {
  grid-column: tag-end / player-window;
  grid-row: 1;
  z-index: 2;
  pointer-events: none;
}
