// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Window
//  - Volumes
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Window
// -----------------------------------------------------------------------------

#jukebox {
  background: var(--black);
}

// -----------------------------------------------------------------------------
// -- Volumes
// -----------------------------------------------------------------------------

.jukebox__volumes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jukebox__volume {
  grid-column: tag-start / player-window;
}
