// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Container
//  - Nav Items
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Container
// -----------------------------------------------------------------------------

.nav {
  position: fixed;
  z-index: 50;
  top: 1em;
  right: 1em;

  .albumLoaded & {
    @include mq(1) {
      display: none;
    }
  }
}

.nav__list {
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// -----------------------------------------------------------------------------
// -- Nav Items
// -----------------------------------------------------------------------------


.nav__link {
  display: block;
  padding: .5em;
}

.nav__icon {
  transition: transform var(--duration) var(--ease-in-out);

  .nav__link:hover & {
    transform: scale(1.4);
  }
}
