// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Container
//  - Headings
//  - Chart(s)
// -----------------------------------------------------------------------------

$statsPadding: $grid--rows;

// -----------------------------------------------------------------------------
// -- Container
// -----------------------------------------------------------------------------

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: rem(1525px);
  min-height: 100vh;
  padding: $statsPadding ($statsPadding * 2);
}

.stats__column {
  flex-basis: calc(50% - (#{$statsPadding} / 2));
}

.link__home {
  position: absolute;
  top: $statsPadding / 2;
  left: $statsPadding / 2;
  color: var(--baseFontColor);
}

// -----------------------------------------------------------------------------
// -- Headings
// -----------------------------------------------------------------------------

.stats__heading {
  font-weight: 900;
  flex: 1;
  flex-basis: 100%;
  text-align: center;
}

.stats__subHeading {
  text-align: center;
}

.stats__subHeading--minor {
  margin-bottom: 0;
}

// -----------------------------------------------------------------------------
// -- Chart(s)
// -----------------------------------------------------------------------------

.stats__topList {
  margin: 0;
  padding: 0;
}

.stats__topItem {
  display: flex;
  align-items: baseline;
  padding-bottom: .25em;

  &::after {
    flex: 1;
    order: 2;
    height: 1px;
    content: '';
    opacity: .65;
    border-bottom: 1px dotted var(--baseFontColor);
  }
}

.stats__topArtist {
  order: 1;

  &::after {
    content: '\00a0';
  }
}

.stats__topCount {
  order: 3;

  &::before {
    content: '\00a0';
  }
}


.stats__others {
  font-size: .6em;
  margin-top: 0;
}

.stats__otherArtist {
  &::after {
    content: ', ';
  }

  &:last-child {
    &::after {
      content: '';
    }
  }
}
