// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Tag
//  - Tag Label
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Tag
// -----------------------------------------------------------------------------

.tag {
  font-family: var(--font--deco);
  grid-column: tag-start / player-window;
  text-decoration: none;
}

// -----------------------------------------------------------------------------
// -- Tag Label
// -----------------------------------------------------------------------------

.tag__label {
  position: relative;
  display: flex;
  grid-column: tag-start / tag-end;
  mix-blend-mode: screen;

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: var(--duration) right var(--ease-in-out);
    background: var(--baseFontColor);

    .tag:hover & {
      right: -20px;
    }

    .active & {
      right: 100% !important;
    }
  }
}

.tag__volumeNumber {
  font-size: 7vh;
  line-height: 1;
  position: relative;
  z-index: 2;
  display: block;
  align-self: center;
  flex: 1;
  padding-right: 20px;
  text-align: right;
  color: var(--baseFontColor);
  mix-blend-mode: difference;

  @include mq(1) {
    font-size: 3.5vh;
    padding-right: 12px;
  }
}
