// -----------------------------------------------------------------------------
//  Table of Contents
//
//  - Tag
//  - Tag Label
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// -- Tag
// -----------------------------------------------------------------------------

.tag {
  grid-column: tag-start / player-window;
}

// -----------------------------------------------------------------------------
// -- Tag Label
// -----------------------------------------------------------------------------

.tag__label {
  display: block;
  grid-column: tag-start / tag-end;
}
